<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">MarcelCoin</a>
  <div>
    <button class="btn btn-outline-light" routerLink="/settings">Settings</button>
    &nbsp;
    <button class="btn btn-outline-light" routerLink="/new/transaction">Create transaction</button>
    &nbsp;
    <button class="btn btn-outline-light" routerLink="/new/transaction/pending">Pending transaction</button>
  </div>
</nav>
<router-outlet></router-outlet>